<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Details</title>

</head>
<body style="
    background: url(https://i.postimg.cc/PJt55cwX/blue-anime-background-1920-x-1080-9jfz3jcv6wkgx8gx-1.jpg) fixed no-repeat bottom #EEE3E4 !important;
    background-size: 100% !important;
">
<div class="container" style="
    border: 2px solid blue;
    display: grid;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: 800px;
    border-radius: 20px;
    text-align: center;
    padding: 15px;">
    <h1 style="
        display: grid;
    place-items: center;
    height: 80px;
    font-family: Bahnschrift, Times, serif;
    font-size: 50px;
    border: 3px solid rgba(40, 35, 172, 0.6);
    border-radius: 10px;
    width: 270px;
    position: relative;
    left: 50%;
    color: #fff;
    transform: translateX(-50%);
    background: linear-gradient(109.6deg, rgb(64, 122, 189) 11.2%, rgba(40, 35, 172, 0.6) 100.2%);
">ORDER</h1>
    <div class="section1" style="
    color: #fff;
    background: linear-gradient(109.6deg, rgb(64, 122, 189) 11.2%, rgba(40, 35, 172, 0.8) 100.2%);
    border: 2px solid rgba(40, 35, 172, 1);
    border-radius: 10px;
    font-family: bahnschrift,serif;
    width: 500px;
    height: 270px;
    position: absolute;
    top: 170px;
    left: 50%;
    transform: translateX(-20%);
    ">
        <h2 style="
        color: #ffa7ce;
        font-size: 30px;
        width: 430px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 10px;
        ">
            ORDER INFO</h2>
        <p style="
    border: 2px solid #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #495c9f;
    position: absolute;
    left: 34px;
    top: 40px;
    width: 314px;
    height: 50px;
"><strong style="
    position: relative;
    display: grid;
    left: 50%;
    transform: translateX(-50%);
    /* border-bottom: 2px solid #fff; */
    padding-top: 3px;
    padding-bottom: 1px;
    font-size: 22px;
">Order UID:</strong> <span>b563feb7b2b84b6test</span></p>
        <p style="
    border: 2px solid #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #495c9f;
    position: absolute;
    left: 34px;
    top: 92px;
    width: 314px;
    height: 50px;
"><strong style="
    position: relative;
    display: grid;
    left: 50%;
    transform: translateX(-50%);
    /* border-bottom: 2px solid #fff; */
    padding-top: 3px;
    padding-bottom: 1px;
    font-size: 22px;
">Track Number:</strong> <span>WBILMTESTTRACK</span></p>
        <p style="
            border: 2px solid #fff;
            border-radius: 5px;
            background: #495c9f;
            width: 100px;
            height: 67px;
            position: absolute;
            right: -18px;
            top: 40px;
            transform: translateX(-50%);
            ">
            <strong style="
            position: relative;
            display: grid;
            left: 50%;
            transform: translateX(-50%);
            padding-top: 5px;
            padding-bottom: 3px;
            top: 0%;
            border-bottom: 2px solid #fff;
            width: 103px;
            font-size: 22px;
            ">Entry:</strong>
            <span style="
            position: relative;
            display: grid;
            align-items: center;
            text-align: center;
            top: 5px;
            font-size: 18px;
            ">
            WBIL</span></p>
        <p style="
    border: 2px solid #fff;
    border-radius: 5px;
    position: absolute;
    /* top: 100px; */
    padding-top: 2px;
    background: #495c9f;
    top: 120px;
    right: 34px;
    width: 100px;
    height: 20px;
"><strong>Locale:</strong> <span>en</span></p>
        <p style="
    border: 2px solid #fff;
    border-radius: 5px;
    position: absolute;
    background: #495c9f;
    top: 156px;
    left: 34px;
    height: 73px;
    width: 92px;
"><strong style="
    position: relative;
    display: grid;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    border-bottom: 2px solid #fff;
">Customer ID:</strong> <span style="
    position: relative;
    top: 2px;
">test</span></p>
        <p style="
    border: 2px solid #fff;
    border-radius: 5px;
    position: absolute;
    top: 156px;
    padding-top: 2px;
    background: #495c9f;
    height: 71px;
    width: 92px;
    right: 266px;
"><strong style="
    position: relative;
    display: grid;
    left: 50%;
    top: -2px;
    transform: translateX(-50%);
    font-size: 20px;
    border-bottom: 2px solid #fff;
">Delivery Service:</strong> <span>meest</span></p>
        <p style="
    border: 2px solid #fff;
    border-radius: 5px;
    position: absolute;
    background: #495c9f;
    height: 73px;
    right: 34px;
    top: 156px;
    width: 220px;
"><strong style="
    position: relative;
    display: grid;
    left: 50%;
    transform: translateX(-50%);
    font-size: 22px;
    padding-top: 6px;
    padding-bottom: 3px;
    border-bottom: 2px solid #fff;
">Date Created:</strong> <span style="
    position: relative;
    top: 9px;
">2021-11-26T06:22:19Z</span></p>
    </div>
    <div class="section2" style="
    position: relative;
    top: 500px;
">
        <h2>Delivery Information</h2>
        <p><strong>Name:</strong> Test Testov</p>
        <p><strong>Phone:</strong> +9720000000</p>
        <p><strong>Zip:</strong> 2639809</p>
        <p><strong>City:</strong> Kiryat Mozkin</p>
        <p><strong>Address:</strong> Ploshad Mira 15</p>
        <p><strong>Region:</strong> Kraiot</p>
        <p><strong>Email:</strong> test@gmail.com</p>
    </div>
    <div class="section3">
        <h2>Payment Information</h2>
        <p><strong>Transaction:</strong> b563feb7b2b84b6test</p>
        <p><strong>Currency:</strong> USD</p>
        <p><strong>Provider:</strong> wbpay</p>
        <p><strong>Amount:</strong> 1817</p>
        <p><strong>Payment Date:</strong> 1637907727</p>
        <p><strong>Bank:</strong> alpha</p>
        <p><strong>Delivery Cost:</strong> 1500</p>
        <p><strong>Goods Total:</strong> 317</p>
        <p><strong>Custom Fee:</strong> 0</p>
    </div>
    <div class="section items">
        <h2>Items</h2>
        <table>
            <thead>
            <tr>
                <th>Chart ID</th>
                <th>Track Number</th>
                <th>Price</th>
                <th>RID</th>
                <th>Name</th>
                <th>Sale</th>
                <th>Size</th>
                <th>Total Price</th>
                <th>NM ID</th>
                <th>Brand</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>

            <tr>
                <td>9934930</td>
                <td>WBILMTESTTRACK</td>
                <td>453</td>
                <td>ab4219087a764ae0btest</td>
                <td>Mascaras</td>
                <td>30</td>
                <td>0</td>
                <td>317</td>
                <td>2389212</td>
                <td>Vivienne Sabo</td>
                <td>202</td>
            </tr>

            </tbody>
        </table>
    </div>
</div>

</body></html>