<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Details</title>

</head>
<body style="
    background: url(https://i.postimg.cc/PJt55cwX/blue-anime-background-1920-x-1080-9jfz3jcv6wkgx8gx-1.jpg) fixed no-repeat bottom #EEE3E4 !important;
    background-size: 100% !important;
" class="vsc-initialized">
<div class="container" style="
    display: grid;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: 800px;
    height: 813px;
    border-radius: 20px;
    text-align: center;
    padding: 15px;
    ">
    <h1 style="
        display: grid;
    place-items: center;
    height: 80px;
    font-family: Bahnschrift, Times, serif;
    font-size: 50px;
    border: 3px solid rgba(40, 35, 172, 0.6);
    border-radius: 10px;
    width: 270px;
    position: relative;
    left: 50%;
    color: #fff;
    transform: translateX(-50%);
    background: linear-gradient(109.6deg, rgb(64, 122, 189) 11.2%, rgba(40, 35, 172, 0.6) 100.2%);
">ORDER</h1>
    <div class="section1" style="
    color: #fff;
    background: linear-gradient(109.6deg, rgb(64, 122, 189) 11.2%, rgba(40, 35, 172, 0.8) 100.2%);
    border: 2px solid rgba(40, 35, 172, 1);
    border-radius: 10px;
    font-family: bahnschrift,serif;
    width: 500px;
    height: 270px;
    position: absolute;
    top: 170px;
    left: 50%;
    transform: translateX(-20%);
    ">
        <h2 style="
        color: #ffa7ce;
        font-size: 30px;
        width: 430px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 10px;
        ">
            ORDER INFO</h2>
        <p style="
    border: 2px solid #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #495c9f;
    position: absolute;
    left: 34px;
    top: 40px;
    width: 314px;
    height: 50px;
"><strong style="
    position: relative;
    display: grid;
    left: 50%;
    transform: translateX(-50%);
    /* border-bottom: 2px solid #fff; */
    padding-top: 3px;
    padding-bottom: 1px;
    font-size: 22px;
">Order UID:</strong> <span>b563feb7b2b84b6test</span></p>
        <p style="
    border: 2px solid #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #495c9f;
    position: absolute;
    left: 34px;
    top: 92px;
    width: 314px;
    height: 50px;
"><strong style="
    position: relative;
    display: grid;
    left: 50%;
    transform: translateX(-50%);
    /* border-bottom: 2px solid #fff; */
    padding-top: 3px;
    padding-bottom: 1px;
    font-size: 22px;
">Track Number:</strong> <span>WBILMTESTTRACK</span></p>
        <p style="
            border: 2px solid #fff;
            border-radius: 5px;
            background: #495c9f;
            width: 100px;
            height: 67px;
            position: absolute;
            right: -18px;
            top: 40px;
            transform: translateX(-50%);
            ">
            <strong style="
            position: relative;
            display: grid;
            left: 50%;
            transform: translateX(-50%);
            padding-top: 5px;
            padding-bottom: 3px;
            top: 0%;
            border-bottom: 2px solid #fff;
            width: 103px;
            font-size: 22px;
            ">Entry:</strong>
            <span style="
            position: relative;
            display: grid;
            align-items: center;
            text-align: center;
            top: 5px;
            font-size: 18px;
            ">
            WBIL</span></p>
        <p style="
    border: 2px solid #fff;
    border-radius: 5px;
    position: absolute;
    /* top: 100px; */
    padding-top: 2px;
    background: #495c9f;
    top: 120px;
    right: 34px;
    width: 100px;
    height: 20px;
"><strong>Locale:</strong> <span>en</span></p>
        <p style="
    border: 2px solid #fff;
    border-radius: 5px;
    position: absolute;
    background: #495c9f;
    top: 156px;
    left: 34px;
    height: 73px;
    width: 92px;
"><strong style="
    position: relative;
    display: grid;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    border-bottom: 2px solid #fff;
">Customer ID:</strong> <span style="
    position: relative;
    top: 2px;
">test</span></p>
        <p style="
    border: 2px solid #fff;
    border-radius: 5px;
    position: absolute;
    top: 156px;
    padding-top: 2px;
    background: #495c9f;
    height: 71px;
    width: 92px;
    right: 266px;
"><strong style="
    position: relative;
    display: grid;
    left: 50%;
    top: -2px;
    transform: translateX(-50%);
    font-size: 20px;
    border-bottom: 2px solid #fff;
">Delivery Service:</strong> <span>meest</span></p>
        <p style="
    border: 2px solid #fff;
    border-radius: 5px;
    position: absolute;
    background: #495c9f;
    height: 73px;
    right: 34px;
    top: 156px;
    width: 220px;
"><strong style="
    position: relative;
    display: grid;
    left: 50%;
    transform: translateX(-50%);
    font-size: 22px;
    padding-top: 6px;
    padding-bottom: 3px;
    border-bottom: 2px solid #fff;
">Date Created:</strong> <span style="
    position: relative;
    top: 9px;
">2021-11-26T06:22:19Z</span></p>
    </div>
    <div class="section2" style="
    font-family: bahnschrift, serif;
    position: absolute;
    top: 169px;
    left: 10px;
    width: 285px;
    height: 562px;
    background: linear-gradient(70deg, rgba(40, 35, 172, 0.8) 11.2%, rgba(64, 122, 189, 0.8) 100.2%);
    border: 2px solid rgba(40, 35, 172, 1);
    border-radius: 10px;
">
        <h2 style="
    color: #ffa7ce;
    font-size: 30px;
    width: 430px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
">DELIVERY INFO</h2>
        <p style="
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    /* border: 5px; */
    /* border-top-right-radius: 5px; */
    background: #495c9f;
    position: absolute;
    left: 17px;
    top: 40px;
    width: 250px;
    height: 50px;
"><strong style="
    position: relative;
    display: grid;
    left: 50%;
    top: -2px;
    transform: translateX(-50%);
    font-size: 20px;
    border-bottom: 2px solid #fff;
    padding-top: 2px;
    padding-bottom: 1px;
">Name:</strong> <span>Test Testov</span></p>
        <p style="
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    /* border: 5px; */
    /* border-top-right-radius: 5px; */
    background: #495c9f;
    position: absolute;
    left: 17px;
    top: 113px;
    width: 250px;
    height: 50px;
"><strong style="
    position: relative;
    display: grid;
    left: 50%;
    top: -2px;
    transform: translateX(-50%);
    font-size: 20px;
    border-bottom: 2px solid #fff;
    padding-top: 2px;
">Phone:</strong><span>+9720000000</span></p>
        <p style="
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    /* border: 5px; */
    /* border-top-right-radius: 5px; */
    background: #495c9f;
    position: absolute;
    left: 17px;
    top: 187px;
    width: 250px;
    height: 50px;
"><strong style="
    position: relative;
    display: grid;
    left: 50%;
    top: -2px;
    transform: translateX(-50%);
    font-size: 20px;
    border-bottom: 2px solid #fff;
    padding-top: 2px;
">Zip:</strong><span>2639809</span> </p>
        <p style="
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    /* border: 5px; */
    /* border-top-right-radius: 5px; */
    background: #495c9f;
    position: absolute;
    left: 17px;
    top: 260px;
    width: 250px;
    height: 50px;
"><strong style="
    position: relative;
    display: grid;
    left: 50%;
    top: -2px;
    transform: translateX(-50%);
    font-size: 20px;
    border-bottom: 2px solid #fff;
    padding-top: 2px;
">City:</strong><span>Kiryat Mozkin</span></p>
        <p style="
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    /* border: 5px; */
    /* border-top-right-radius: 5px; */
    background: #495c9f;
    position: absolute;
    left: 17px;
    top: 334px;
    width: 250px;
    height: 50px;
"><strong style="
    position: relative;
    display: grid;
    left: 50%;
    top: -2px;
    transform: translateX(-50%);
    font-size: 20px;
    border-bottom: 2px solid #fff;
    padding-top: 2px;
">Address:</strong><span>Ploshad Mira 15</span></p>
        <p style="
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    /* border: 5px; */
    /* border-top-right-radius: 5px; */
    background: #495c9f;
    position: absolute;
    left: 17px;
    top: 408px;
    width: 250px;
    height: 50px;
"><strong style="
    position: relative;
    display: grid;
    left: 50%;
    top: -2px;
    transform: translateX(-50%);
    font-size: 20px;
    border-bottom: 2px solid #fff;
    padding-top: 2px;
">Region:</strong><span>Kraiot</span></p>
        <p style="
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    /* border: 5px; */
    /* border-top-right-radius: 5px; */
    background: #495c9f;
    position: absolute;
    left: 17px;
    top: 481px;
    width: 250px;
    height: 50px;
"><strong style="
    position: relative;
    display: grid;
    left: 50%;
    top: -2px;
    transform: translateX(-50%);
    font-size: 20px;
    border-bottom: 2px solid #fff;
    padding-top: 2px;
">Email:</strong><span>test@gmail.com</span></p>
    </div>
    <div class="section3" style="
    color: #fff;
    background: linear-gradient(109.6deg, rgb(64, 122, 189) 11.2%, rgba(40, 35, 172, 0.8) 100.2%);
    border: 2px solid rgba(40, 35, 172, 1);
    border-radius: 10px;
    font-family: bahnschrift, serif;
    width: 500px;
    height: 270px;
    position: absolute;
    top: 461px;
    left: 50%;
    transform: translateX(-20%);
">
        <h2 style="
    color: #ffa7ce;
    font-size: 30px;
    width: 430px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
">PAYMENT INFORMATION</h2>
        <p style="
    border: 2px solid #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #495c9f;
    position: absolute;
    left: 148px;
    top: 40px;
    width: 314px;
    height: 50px;
"><strong style="
    position: relative;
    display: grid;
    left: 50%;
    transform: translateX(-50%);
    /* border-bottom: 2px solid #fff; */
    padding-top: 3px;
    padding-bottom: 1px;
    font-size: 22px;
">Transaction:</strong> b563feb7b2b84b6test</p>
        <p style="border: 2px solid #fff;border-radius: 5px;position: absolute;background: #495c9f;top: 156px;left: 34px;height: 73px;width: 92px;"><strong style="
    position: relative;
    display: grid;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    border-bottom: 2px solid #fff;
    padding-top: 7px;
    padding-bottom: 4px;
">Currency:</strong> <span style="
    position: relative;
    top: 8px;
">USD</span></p>
        <p style="
    border: 2px solid #fff;
    border-radius: 5px;
    position: absolute;
    top: 156px;
    padding-top: 2px;
    background: #495c9f;
    height: 71px;
    width: 92px;
    right: 266px;
"><strong style="
    position: relative;
    display: grid;
    left: 50%;
    top: -2px;
    transform: translateX(-50%);
    font-size: 20px;
    border-bottom: 2px solid #fff;
    padding-top: 7px;
    padding-bottom: 4px;
">Provider:</strong> <span style="
    position: relative;
    top: 5px;
">wbpay</span></p>
        <p><strong>Amount:</strong> 1817</p>
        <p style="
    border: 2px solid #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #495c9f;
    position: absolute;
    left: 148px;
    top: 92px;
    width: 314px;
    height: 50px;
"><strong style="
    position: relative;
    display: grid;
    left: 50%;
    transform: translateX(-50%);
    /* border-bottom: 2px solid #fff; */
    padding-top: 3px;
    padding-bottom: 1px;
    font-size: 22px;
">Payment Date:</strong> 1637907727</p>
        <p style="
    border: 2px solid #fff;
    border-radius: 5px;
    background: #495c9f;
    width: 100px;
    height: 67px;
    position: absolute;
    right: 310px;
    top: 40px;
    transform: translateX(-50%);
"><strong style="
    position: relative;
    display: grid;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 5px;
    padding-bottom: 3px;
    top: 0%;
    border-bottom: 2px solid #fff;
    width: 103px;
    font-size: 22px;
">Bank:</strong><span style="
    position: relative;
    top: 6px;
">alpha</span></p>
        <p style="border: 2px solid #fff;border-radius: 5px;position: absolute;background: #495c9f;height: 27px;right: 34px;top: 195px;width: 220px;padding-top: 7px;"><strong style="
    position: relative;
    display: grid;
    left: -31px;
    bottom: 2px;
    font-size: 22px;
">Delivery Cost:</strong> <span style="
    position: absolute;
    right: 14px;
    bottom: 4px;
    font-size: 21px;
">1500</span></p>
        <p style="border: 2px solid #fff;border-radius: 5px;position: absolute;background: #495c9f;height: 27px;right: 34px;top: 156px;width: 220px;padding-top: 7px;"><strong style="position: relative;display: grid;left: -26px;bottom: 8px;/* transform: translateX(-67%); */font-size: 22px;padding-top: 6px;padding-bottom: 3px;/* border-bottom: 2px solid #fff; */">Goods Total:</strong><span style="
    position: absolute;
    right: 26px;
    bottom: 4px;
    font-size: 21px;
">315</span></p>
        <p style="border: 2px solid #fff;border-radius: 5px;position: absolute;/* top: 100px; */padding-top: 2px;background: #495c9f;top: 120px;right: 362px;width: 100px;height: 20px;"><strong>Fee:</strong> 0</p>
    </div>
    <div class="section items" style="
    position: absolute;
    bottom: 3px;
">
        <h2 style="font-family: bahnschrift, serif;color: #ffa7ce;font-size: 30px;width: 152px;position: absolute;top: -60px;left: 334px;margin-top: 10px;border-radius: 5px;background: linear-gradient(109.6deg, rgb(64, 122, 189) 11.2%, rgba(40, 35, 172, 0.8) 100.2%);border: 2px solid #fff;">ITEMS</h2>
        <table style="
    position: relative;
    right: 252px;
    bottom: 31px;
">
            <thead style="
    font-family: Bahnschrift, Times, serif;
    color: #fff;
">
            <tr>
                <th style="
    background: linear-gradient(109.6deg, rgb(64, 122, 189) 11.2%, rgba(40, 35, 172, 0.8) 100.2%);
    padding: 4px;
    border: 2px solid #fff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 22px;
    position: absolute;
    left: -100px;
    width: 100px;
    bottom: -64px;
">Chart ID</th>
                <th style="
    background: linear-gradient(109.6deg, rgb(64, 122, 189) 11.2%, rgba(40, 35, 172, 0.8) 100.2%);
    border: 2px solid #fff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 22px;
    width: 180px;
    position: absolute;
    bottom: -64px;
    left: 24px;
    padding-bottom: 4px;
    padding-top: 3px;
">Track Number</th>
                <th style="
    background: linear-gradient(109.6deg, rgb(64, 122, 189) 11.2%, rgba(40, 35, 172, 0.8) 100.2%);
    border: 2px solid #fff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 22px;
    position: absolute;
    bottom: -63px;
    left: 222px;
    padding-top: 5px;
    padding-bottom: 1px;
    width: 65px;
">Price</th>
                <th style="
    background: linear-gradient(109.6deg, rgb(64, 122, 189) 11.2%, rgba(40, 35, 172, 0.8) 100.2%);
    border: 2px solid #fff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 22px;
    position: absolute;
    left: 305px;
    bottom: -64px;
    width: 200px;
    padding-top: 5px;
">RID</th>
                <th style="
    background: linear-gradient(109.6deg, rgb(64, 122, 189) 11.2%, rgba(40, 35, 172, 0.8) 100.2%);
    padding: 3px;
    border: 2px solid #fff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 22px;
    position: absolute;
    left: 525px;
    width: 100px;
    bottom: -64px;
">Name</th>
                <th style="
    left: 650px;
    background: linear-gradient(109.6deg, rgb(64, 122, 189) 11.2%, rgba(40, 35, 172, 0.8) 100.2%);
    padding: 3px;
    border: 2px solid #fff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 22px;
    position: absolute;
    width: 100px;
    bottom: -64px;
">Sale</th>
                <th style="left: 775px;background: linear-gradient(109.6deg, rgb(64, 122, 189) 11.2%, rgba(40, 35, 172, 0.8) 100.2%);padding: 3px;border: 2px solid #fff;border-top-right-radius: 5px;border-top-left-radius: 5px;font-size: 22px;position: absolute;width: 100px;bottom: -64px;">Size</th>
                <th style="left: 900px;background: linear-gradient(109.6deg, rgb(64, 122, 189) 11.2%, rgba(40, 35, 172, 0.8) 100.2%);padding: 3px;border: 2px solid #fff;border-top-right-radius: 5px;border-top-left-radius: 5px;font-size: 22px;position: absolute;width: 120px;bottom: -64px;">Total Price</th>
                <th style="left: 1044px;background: linear-gradient(109.6deg, rgb(64, 122, 189) 11.2%, rgba(40, 35, 172, 0.8) 100.2%);padding: 3px;border: 2px solid #fff;border-top-right-radius: 5px;border-top-left-radius: 5px;font-size: 22px;position: absolute;width: 120px;bottom: -64px;">NM ID</th>
                <th style="left: 1189px;background: linear-gradient(109.6deg, rgb(64, 122, 189) 11.2%, rgba(40, 35, 172, 0.8) 100.2%);padding: 3px;border: 2px solid #fff;border-top-right-radius: 5px;border-top-left-radius: 5px;font-size: 22px;position: absolute;width: 120px;bottom: -64px;">Brand</th>
                <th style="left: 1333px;background: linear-gradient(109.6deg, rgb(64, 122, 189) 11.2%, rgba(40, 35, 172, 0.8) 100.2%);padding: 3px;border: 2px solid #fff;border-top-right-radius: 5px;border-top-left-radius: 5px;font-size: 22px;position: absolute;width: 85px;bottom: -64px;">Status</th>
            </tr>
            </thead>
            <tbody style="
    font-family: Bahnschrift, Times, serif;
    color: #fff;
">

            <tr>
                <td style="
    background: linear-gradient(109.6deg, rgb(64, 122, 189) 11.2%, rgba(40, 35, 172, 0.8) 100.2%);
    border: 2px solid #fff;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    position: absolute;
    width: 106px;
    left: -100px;
    bottom: -87px;
">9934930</td>
                <td style="
    background: linear-gradient(109.6deg, rgb(64, 122, 189) 11.2%, rgba(40, 35, 172, 0.8) 100.2%);
    border: 2px solid #fff;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 180px;
    position: absolute;
    bottom: -86px;
    left: 24px;
">WBILMTESTTRACK</td>
                <td style="
    background: linear-gradient(109.6deg, rgb(64, 122, 189) 11.2%, rgba(40, 35, 172, 0.8) 100.2%);
    border: 2px solid #fff;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    position: absolute;
    bottom: -86px;
    left: 222px;
    width: 65px;
">453</td>
                <td style="
    background: linear-gradient(109.6deg, rgb(64, 122, 189) 11.2%, rgba(40, 35, 172, 0.8) 100.2%);
    border: 2px solid #fff;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 200px;
    position: absolute;
    bottom: -86px;
    left: 305px;
">ab4219087a764ae0btest</td>
                <td style="
    background: linear-gradient(109.6deg, rgb(64, 122, 189) 11.2%, rgba(40, 35, 172, 0.8) 100.2%);
    border: 2px solid #fff;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 104px;
    position: absolute;
    bottom: -86px;
    left: 525px;
">Mascaras</td>
                <td style="
    left: 650px;
    background: linear-gradient(109.6deg, rgb(64, 122, 189) 11.2%, rgba(40, 35, 172, 0.8) 100.2%);
    border: 2px solid #fff;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 104px;
    position: absolute;
    bottom: -86px;
">30</td>
                <td style="
    left: 775px;
    background: linear-gradient(109.6deg, rgb(64, 122, 189) 11.2%, rgba(40, 35, 172, 0.8) 100.2%);
    border: 2px solid #fff;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 104px;
    position: absolute;
    bottom: -86px;
">0</td>
                <td style="left: 900px;background: linear-gradient(109.6deg, rgb(64, 122, 189) 11.2%, rgba(40, 35, 172, 0.8) 100.2%);border: 2px solid #fff;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;width: 124px;position: absolute;bottom: -86px;">317</td>
                <td style="left: 1044px;background: linear-gradient(109.6deg, rgb(64, 122, 189) 11.2%, rgba(40, 35, 172, 0.8) 100.2%);border: 2px solid #fff;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;width: 124px;position: absolute;bottom: -86px;">2389212</td>
                <td style="left: 1189px;background: linear-gradient(109.6deg, rgb(64, 122, 189) 11.2%, rgba(40, 35, 172, 0.8) 100.2%);border: 2px solid #fff;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;width: 124px;position: absolute;bottom: -86px;">Vivienne Sabo</td>
                <td style="left: 1333px;background: linear-gradient(109.6deg, rgb(64, 122, 189) 11.2%, rgba(40, 35, 172, 0.8) 100.2%);border: 2px solid #fff;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;width: 89px;position: absolute;bottom: -86px;">202</td>
            </tr>

            </tbody>
        </table>
    </div>
</div>  

</body></html>